<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sinolight.cn.qgapp" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".views.activity.SplashActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.activity.HomeActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask">

        </activity>
        <activity android:name=".views.activity.DBaseDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activity.DBResourceActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden" />
        <activity android:name=".views.activity.LoginActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="stateVisible"/>
        <activity android:name=".views.activity.RegisterActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateVisible"/>
        <activity android:name=".views.activity.KDBDicDetailActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".views.activity.KDBStdDetailActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".views.activity.KDBBookDetailActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".views.activity.UserHomeActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".views.activity.VideoListSetActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".views.activity.VideoListActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".views.activity.VideoInfoActivity"
                  android:screenOrientation="portrait">

        </activity>

        <activity android:name=".views.activity.ChapterActivity"
                  android:screenOrientation="portrait">

        </activity>

        <activity android:name=".views.activity.ReadActivity"
                  android:screenOrientation="portrait">

        </activity>

        <activity android:name=".views.activity.EBookActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">

        </activity>

        <activity android:name=".views.activity.MaterialListActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".views.activity.MaterialDetailActivity"
                  android:screenOrientation="portrait">

        </activity>

        <activity android:name=".views.activity.MasterHomeActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">

        </activity>

        <activity android:name=".views.activity.MasterListActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">

        </activity>

        <activity android:name=".views.activity.MasterInfoActivity"
                  android:screenOrientation="portrait">

        </activity>

        <activity android:name=".views.activity.BaiKeActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">

        </activity>

        <activity android:name=".views.activity.PicSetActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">

        </activity>

        <activity android:name=".views.activity.CollectActivity"
                  android:screenOrientation="portrait">

        </activity>

        <activity android:name=".views.activity.MyDatabaseActivity"
                  android:screenOrientation="portrait">

        </activity>

        <activity android:name=".views.activity.TestActivity"/>
    </application>

</manifest>